<style>
    .heading .title {
        padding: 15px 22px;
        cursor: pointer;
    }

    .heading .title:hover {
        background: #5555ef;
    }

    .heading .title.active {
        background: #5555ef;
    }
</style>

<form action="/" method="post" id="admin__form">
    <div class="heading">
        <div class="row ali-center h-100">
            <p class="title active" data-link="/HoaDon/HoaDonNhap">Hóa đơn nhập</p>
            <p class="title" data-link="/HoaDon/HoaDonXuat">Hóa đơn xuất</p>
        </div>
    </div>
</form>