<style>
    .heading .title {
        padding: 15px 22px;
        cursor: pointer;
    }

    .heading .title:hover {
        background: #5555ef;
    }

    .heading .title.active {
        background: #5555ef;
    }
</style>

<div class="row ali-center h-100">
    <p class="title active" data-link="/SanPham/_ListSanPham?pLoaiSP=1">Điện thoại</p>
    <p class="title" data-link="/SanPham/_ListSanPham?pLoaiSP=2">Phụ kiện</p>
    <p class="title" data-link="/SanPham/UpdateOrder">Nhập hàng</p>
    @*<p class="title" data-link="/SanPham/Add">Thêm sản phẩm</p>*@
</div>